{% load static %}

<head>
    <link href= "{% static 'lab_4/header.css' %}" rel='stylesheet'>
</head>
<header>
    <h1>Lab 04</h1>
    <div class='links'>
        <a href='\lab-4'>Home</a>
        <a href='\lab-4\add_note'>Add Message</a>
        <a href='\lab-4\note_list'>Note List</a>
    </div>
</header>