{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'lab_4/cards.css' %}" rel="stylesheet">
    <style>
        .card-content {
            background-color: green !important;
        }
    </style>
</head>

<body>
    {% include 'header.html' %}
    <div class='card-container'>
        {% for note in notes %}
            <div class='card'>
                <div class='card-content' style='background-color: yellow;'>
                    <p class='title'>{{note.title}}</p>
                    <hr>
                    <div class='from-to'>
                        <img src='https://www.seekpng.com/png/small/413-4139803_unknown-profile-profile-picture-unknown.png' width="40px" height="40px">
                        <div>
                            <p class='from'>{{note.froms}}</p>
                            <p class='to'> To {{note.to}}</p>
                        </div>
                    </div>
                    <p class='message'>{{note.message}}</p>
            
                </div>
            </div>
        
        {% endfor %}
    </div>

</body>
</html>