{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{% static 'lab_4/index.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class='table-container'>
        <div class='table-title'>
            {% include 'header.html' %}
        </div>
        <table>
            <thead>
                <th>From</th>
                <th>To</th>
                <th>Title</th>
                <th class='date'>Message</th>
            </thead>
            <tbody>
                {% for note in notes %}
                    <tr>
                        <td>{{ note.froms }}</td>
                        <td>{{ note.to }}</td>
                        <td>{{ note.title }}</td>
                        <td class='date'>{{ note.message}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>