body {
    margin: 0;
    background-color: #fafafa;
}


/* table */

.container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3em 0;
    width: 100%;
}

table {
    margin: 0 auto;
    max-width: 1440px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    border-collapse: collapse;
}


thead{
    box-shadow: 0px 3px 10px #bdbdbd; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-transform: uppercase;
}

td,th {
    padding: 2em;
    text-align: center;
}

tr:nth-child(even){
    background-color: #E8F5E9;
}


