body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 4em;
}

.card-container {
    margin: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3%;
    column-gap: 3%;
}

.card {
    min-height: 350px;
    border-radius:10px ;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-content {
    margin: 3em;
}

.from {
    font-weight: 600;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.4em;
}

.message {
    font-weight: normal;
}

.from-to img {
    border-radius:50%;
    margin-right: 1em;
}

.from-to {
    display: flex;
    align-items: center;
}