{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'lab_3/style.css' %}" rel='stylesheet'>

</head>
<body>
    <div class='table-container'>
        <div class='table-title'>
            <p>Friends List</p>
            <div class='icons'>
                <div class='search-bar'>
                    <input type='text' class="search-bar-input" placeholder="Name"/>
                    <button class='search-bar-submit'>O</button>   
                </div>
                <p><img src='https://cdn-icons-png.flaticon.com/512/1159/1159641.png' alt='filter' height="20px" width="20px"></p>
                <p><img src='https://cdn-icons-png.flaticon.com/512/3892/3892927.png' height="20px" width="20px"></p>
            </div>
        </div>
        <table>
            <thead>
                <th>Name</th>
                <th>NPM</th>
                <th class='date'>Date Of Birth</th>
            </thead>
            <tbody>
                {% for friend in friends %}
                    <tr>
                        <td>{{ friend.name }}</td>
                        <td>{{friend.npm }}</td>
                        <td class='date'>{{friend.DOB }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>