{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'lab_2/style.css' %}" rel='stylesheet'>
    <title>Html Response</title>
</head>
<body>
    <div class='container'>
        <h1>Notes</h1>
        <table >
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Title</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                    <tr>
                        <td>{{ note.to }}</td>
                        <td>{{ note.froms }}</td>
                        <td>{{ note.title }}</td>
                        <td>{{ note.message }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>