header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    color:inherit;
    text-decoration: none;
    margin-left: 1em;
    text-decoration: underline 0.15em rgba(0,0,0,0);
    transition: text-decoration-color 300ms ease-in;
}

a:hover,a:focus {
    text-decoration-color: rgba(0,0,0,1);
}