body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    justify-content: center;
    margin-bottom: 2em;
    width: 100vw;

}


form {
    max-width: 20em;
    width: 100%;
    display: flex;
    align-items: center;    
    background-color: white;
    border-radius: 15px;
    padding: 3em;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    flex-direction: column;
}

label {
    padding: 0.5em;
}

header {
    margin: 2em 4em;

}


input {
    width: 80%;
    height: 2em;
    border: 1px solid black;
    border-radius: 5px;
}

.submit {
    margin-top: 1em;
    font: inherit;
    border: none;
    cursor: pointer;
    background-color: #76FF03;
}
