body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #90A4AE;
}

.form-container {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    justify-content: center;

    width: 100vw;
    margin-top: 5%;
}


form {
    max-width: 20em;
    width: 100%;
    display: flex;
    align-items: center;    
    background-color: white;
    border-radius: 15px;
    padding: 3em;
    flex-direction: column;
}

label {
    padding: 0.5em;
}

input {
    width: 80%;
    height: 2em;
    border: 1px solid black;
    border-radius: 5px;
}

.submit {
    margin-top: 1em;
    font: inherit;
    border: none;
    cursor: pointer;
    background-color: #76FF03;
}