body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
table {
    margin: 0 auto;
    max-width: 1440px;
    
} */

.table-container table{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

thead {
    text-align: left;
}

th {
    background-color: #EEEEEE;
}

td {
    border-bottom: 1px solid #E0E0E0;
}

th,td {
    padding: 0.5em;
}

tr {
    transition: hover 300ms ease-in-out;
}

tr:hover {
    background-color: #FAFAFA
    ;
}

.table-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.icons { 
    display: flex;
    margin-right: 1em;
    align-items: center;
}

.icons p,.table-title p{
    padding: 0 1em;
}

.search-bar {
    display: flex;
    border: 1px solid black;
    margin:1em;
    border-radius: 500px;
    padding: 0.2em;
    position: relative;
    width: 25px;
    transition: width 300ms ease-in-out;
    overflow: hidden;

}

.search-bar-input {
    flex-grow: 1;
    font-size: 1rem;
    padding: 0 0.5em;
    border: 0;
    position: absolute;
    background: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    
}

.search-bar-input:focus{
    outline: 0;
}

.search-bar-submit {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    font-size: 1rem;
    margin-left: auto;
    background-color: black;
    color:#FAFAFA;
}

.search-bar:focus-within {
    width: 300px;
}

.search-bar-input:focus-within{
    opacity: 1;
    cursor: initial;
}

.date {
    text-align: right;
    padding-right: 1.5em;
}